body{

    background-color: #1E90FF;
}

.logo{
    width: 100px;
    
    height: 100px;
   
    margin: auto;
    
    display: flex;

    flex-direction: column;
}

.table-container {
   
    overflow-x: auto;

}

table {

    width: 100%;

    border-collapse: collapse;

}

th, td {

    border: 1px solid #ddd;

    padding: 8px;

    text-align: left;

}

th {

    background-color: #f2f2f2;

}

.destaque {
  
    background-color: #f2f2f2; 

}

.botao-salvar {

    background-color: #4CAF50; 

    color: white; 
    
    padding: 10px 15px; 
    
    font-size: 16px;
    
    border: none; 
    
    border-radius: 5px;
    
    cursor: pointer; 

    margin-left: 47%;

    margin-top: 25px;

}


.botao-salvar:hover {

    background-color: white;

    color: #4CAF50;

}

.consultar{
    
    display: flex;
    
    flex-direction: column;
    
    align-items: center;
    
    justify-content: center;
    
    text-align: center;

}



.botao-inserirbusca{

    background-color: #4CAF50;

    color: white;

    border: none;

    border-radius: 10px;

    padding: 20px;

    margin-top: 10px;

}

#searchInput{

    margin: 10px 0px;
    
    border: white;

    color: #050505;

    padding: 10px;

    border-radius: 20px;

}

#oficinaDetails p, #voluntarioDetails p , #departamentoDetails p {
   
    margin: 5px 0;
   
    font-size: 16px;
    
    color: #333;

    display: flex;
    
    flex-direction: column;
    
    align-items: center;
    
    justify-content: center;
    
    text-align: center;

}

#oficinaDetails, #voluntarioDetails, #departamentoDetails{

    text-align: center;

    background-color: white;

    margin: 0 400px;

    border-radius: 20px;

    margin-top: 20px;

}

.imprimir {

    background-color: #4CAF50;

    color: white;

    border: none;

    border-radius: 5px;
    
    cursor: pointer; 

    margin-left: 44%;

    margin-top: 25px;

    padding: 20px;



}


.button-container {
   
    display: flex;
   
    justify-content: center;
   
    margin-top: 20px; 

}

.botao-inserirbusca {

    margin: 0 10px; 
    
}

