body{

    background-color: #1E90FF;
}

.logo{
    width: 100px;

    height: 100px;

    margin: auto;

    display: flex;

    flex-direction: column;
}



form{

    background-color: white;

    margin: auto;

    margin-top: 10px;

    width: 100vh;

    display: flex;

    flex-direction: column;

    height: 130vh;

    border-radius: 10px;
}


#form-oficina{

    height: auto; 

    display: flex;

    flex-direction: column;

}

#form-registrar-login{

    height: 60vh;

}

#form-participacao{

    height: 70vh;

}

.form-registrar-voluntario{

    height: 160vh;
}


#form-departamento{

    height: auto; 

    display: flex;

    flex-direction: column;

}


.usuario{

    padding: 10px;

    margin: 0px 50px;

    border-radius: 10px;

    border: 1px #1E90FF solid;

}

h2{

    text-align: center;

    color: #1E90FF;

}

label{

    margin-left: 55px;

    margin-top: 10px;

    margin-bottom: 5px;


}

select{

    margin-top: 10px;

    margin: 0px 50px;

    padding: 10px;

    border-radius: 10px;

    border: 1px #1E90FF solid;

}

.botao-entrar, .botao-addVoluntario, .botao-inserirbusca{

    border-radius: 20px;

    margin: 5px 100px;

    margin-top: 20px;

    padding: 15px;

    background-color: #1E90FF;

    color: white;

    border: none;

    cursor: pointer;
}

.botao-addVoluntario {

    background-color: #4CAF50;

    color: white;

    padding: 10px 15px;

    border: none;

    border-radius: 4px;
    
    cursor: pointer;

    font-size: 16px;
}

.botao-addVoluntario:hover {

    background-color: #45a049;
    
}


.result {

    margin-top: 20px;

    padding: 10px;

    border: 1px solid #ddd;

    border-radius: 5px;
}

.result label {

    display: block;

    margin-bottom: 5px;

    font-weight: bold;
}

.result input[type="text"] {

    width: 85%;

    padding: 8px;

    margin-bottom: 10px;

    box-sizing: border-box;
}

.modal {
   
    display: none;
   
    position: fixed;
   
    top: 50%;
   
    left: 50%;
   
    transform: translate(-50%, -50%);
   
    padding: 20px;
   
    background-color: #fff;
   
    border: 1px solid #ccc;
   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.overlay {
    
    display: none;
    
    position:relative;
    
    top: 0;
    
    left: 0;
    
    width: 100%;
    
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.5);
}

#voluntarioDetails ,#oficinaDetails, #departamentoDetails{

    text-align: center;

    background-color: white;

    margin: 0 400px;

    border-radius: 20px;

}

#form-atualizar-voluntario{

    height: 150vh;
}

#form-atualizar-departamento{

    height: 80vh;
}