* {
    margin: 0;
    padding: 0;
}


body{
    
    background-color: #f0f0f0;

}

header {

    background-color: #f0f0f0;
   
    height: 50px;
   
    width: 100%;
   
    padding-top: 5px;
   
    display: flex;
   
    position: fixed;
   
    justify-content: center;
   
    top: 0;   
    
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}


header a {
  color: #1E90FF;

  text-decoration: none;

  margin-left: 200vh;

  margin-top: 10px;

}



h1{

    margin-top: 10px;

    margin-bottom: 10PX;

}

h2{

    margin: 0px 5px 0px 5px;

    margin-bottom: 20px;

   

}

main {

    display: flex; 

    margin-top: 90px;

}


.botao{

    margin-top: 0px;

    width: 80px;

    height: 25px;

    margin-left: 20px;

    cursor: pointer;

    color: black;

    border: none;

    border-radius: 4px;

    background-color: #f0f0f0;

}

.container{

  display: inline-block;

}

.voluntarios {

  width: 25px; 

  height: auto;

}

.sidebar {
   
    height: 100%;
   
    width: 250px;
   
    position: fixed;
   
    top: 0;
   
    left: 0;
   
    background-color: #1E90FF;
   
    padding-top: 20px;


  
}
  
  .sidebar h2 {
   
    color: white;
   
    text-align: center;
  
}
  
  .sidebar ul {
    
    list-style: none;
    
    padding: 0;
  
}
  
  .sidebar li {
   
    padding: 10px;
   
    margin-left: 10px;
  
  }
  
  .sidebar a {
    
    color: white;
    
    text-decoration: none;
  
  }

.dropdown-content a {

  margin-left: 20px;

}

  .content {
   
    margin-left: 250px;
   
    padding: 20px;

    margin-top: 50px;
  
}
  
  .sidebar a:hover {

    background-color: #1E90FF;

    color: black;
    

  }

  table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

td.editavel {
    cursor: pointer;
}

input {
    width: 100%;
}