<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Oficina</title>

    <link rel="shortcut icon" href="../img/ellp_logo.png" type="image/x-icon">

    <link rel="stylesheet" href="../css/registrar.css">
</head>

<body>
    <div class="container">

        <img src="../img/ellp_logo.png" class="logo" id="logo">


        <form id="form-atualizar-voluntario">

            <h2>Atualizar Dados Oficina</h2>

            <label for="consulta_idOficina" ><b>Consultar Oficina por ID: </b></label>

            <input type="text" id="searchInput" class="usuario" placeholder="Digite sua consulta">
            
            <button type="button" class="botao-inserirbusca" onclick="consultarOficinaPorNome()">Consultar</button>

            <label for="nome" ><b>Nome: </b></label>

            <input type="text" name="nome" id="nome" class="usuario nome"><br>

            <label for="qt_participantes"><b>Quantidade de participantes:</b></label>

            <input type="text" name="qt_participantes" id="qt_participantes" class="usuario qt_participantes"><br>

            <label for="data_oficina"><b>Data: </b></label>
            
            <input type="date" name="data_oficina" id="data_oficina"  class="usuario data_oficina"><br>

            <label for="horarioinicio"><b>Horario de início: </b></label>
            
            <input type="time" name="horarioinicio" id="horarioinicio" class="usuario horarioinicio"><br>

            <label for="horariofim"><b>Horario de fim: </b></label>
            
            <input type="time" name="horariofim" id="horariofim" class="usuario horariofim"><br>

            <button class="botao-entrar" onclick="atualizarOficinas()">Atualizar</button>

        </form>


    </div>
    
    <div id="oficinaDetails"></div>


    <div class="modal" id="customModal">
        
        <p>Registrado com sucesso!</p>
        
        <button onclick="closeModal()">Close</button>
   
    </div>
    
    <div class="overlay" id="overlay"></div>

    <script src="../js/oficina-atualizar.js"></script>

</body>

</html>