<!DOCTYPE html>

<html lang="en">

<head>
   
    <meta charset="UTF-8">
   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Edição de Valores</title>

    <link rel="stylesheet" href="../css/consultar.css">
    
    <link rel="shortcut icon" href="../img/ellp_logo.png" type="image/x-icon">


</head>

<body>

    <img src="../img/ellp_logo.png" class="logo" id="logo">

    <h2>Alterar Valores das Voluntário</h2>


    <table id="tabela-oficinas">
    
        <thead>
    
            <tr>
                <th class="id_voluntario">ID</th>

                <th class="nome">Nome</th>

                <th class="ra">RA</th>

                <th class="email">Email</th>

                <th class="telefone">Telefone</th>
                
                <th class="curso">Curso</th>

                <th class="periodo">Período</th>
                
                <th>Ativo</th>

                <th>Horas</th>

           
            </tr>
    
        </thead>
    
        <tbody id="tabela-corpo">
    
        </tbody>


    </table>

    <button class="botao-salvar-edicao" onclick="atualizarDadosVoluntario()">Salvar Edição</button>

    <div id="dadosAtualizados"></div>

<script src="../js/voluntario-atualizar.js"></script>

</body>

</html>
