<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Departamento</title>

    <link rel="shortcut icon" href="../img/ellp_logo.png" type="image/x-icon">

    <link rel="stylesheet" href="../css/registrar.css">
</head>

<body>
    <div class="container">

        <img src="../img/ellp_logo.png" class="logo" id="logo">


        <form id="form-atualizar-departamento">

            <h2>Atualizar Dados Departamento</h2>

            <label for="consulta_idDepartamento" ><b>Consultar Departamento por ID: </b></label>

            <input type="text" id="searchInput" class="usuario" placeholder="Digite sua consulta">
            
            <button type="button" class="botao-inserirbusca" onclick="consultarDepartamentoPorNome()">Consultar</button>

            <label for="nome">Nome do Departamento</label>

            <input type="text" id="nome"class="usuario nome">

            <label for="responsavel">Responsavel</label>

            <input type="text" id="responsavel" class="usuario responsavel">

            <button class="botao-entrar" onclick="atualizarDepartamentos()">Atualizar</button>

        </form>


    </div>
    
    <div id="departamentoDetails"></div>


    <div class="modal" id="customModal">
        
        <p>Registrado com sucesso!</p>
        
        <button onclick="closeModal()">Close</button>
   
    </div>
    
    <div class="overlay" id="overlay"></div>

    <script src="../js/departamento-atualizar.js"></script>

</body>

</html>