<!DOCTYPE html>

<html lang="en">

<head>
   
    <meta charset="UTF-8">
   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Edição de Valores</title>

    <link rel="stylesheet" href="../css/consultar.css">
    
    <link rel="shortcut icon" href="../img/ellp_logo.png" type="image/x-icon">


</head>

<body>

    <img src="../img/ellp_logo.png" class="logo" id="logo">

    <h2>Alterar Valores das Oficinas</h2>


    <table id="tabela-oficinas">
    
        <thead>
    
            <tr>
    
                <th>ID</th>
    
                <th class="editavel">Nome</th>
    
                <th>Quantidade de Participantes</th>
    
                <th>Data</th>
    
                <th>Horário de Início</th>
    
                <th>Horário de Fim</th>
            </tr>
    
        </thead>
    
        <tbody id="tabela-corpo">
    
        </tbody>


    </table>

    <button class="botao-salvar" onclick="salvarEdicao()">Salvar Edição</button>

   

<script src="../js/oficina-atualizar.js"></script>

</body>

</html>
