<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Consultar</title>

    <link rel="stylesheet" href="../css/consultar.css">

    <link rel="shortcut icon" href="../img/ellp_logo.png" type="image/x-icon">

</head>

<body>

    <img src="../img/ellp_logo.png" class="logo" id="logo">

    <form>

        <input type="text" id="barraPesquisa" placeholder="Digite o nickname" oninput="consultarNome()"> <!-- Espaço de escrita do nick -->

        <div id="resultados"></div> <!-- Resultados da pesquisa -->

    </form>

    <div id="results"></div>

    <div class="table-container">
        
        <table>
            
            <tr>
                <th>ID</th>

                <th>Nome</th>

                <th>RA</th>

                <th>Email</th>

                <th>Telefone</th>
                
                <th>Curso</th>

                <th>Período</th>
                
                <th>Ativo</th>
           
            </tr>
       
       
        </table>
    </div>
    
    <script src="../js/voluntario.js"></script>
    
</body>
</html>