<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Consultar Voluntário</title>

    <link rel="stylesheet" href="../css/consultar.css">

    <link rel="shortcut icon" href="../img/ellp_logo.png" type="image/x-icon">

</head>

<body>

    <img src="../img/ellp_logo.png" class="logo" id="logo">


    <div id="results"></div>

    <h2>Dados Voluntários</h2>

    <div class="table-container">
        
        <table>
            
            <tr>
                <th>ID</th>

                <th>Nome</th>

                <th>RA</th>

                <th>Email</th>

                <th>Telefone</th>
                
                <th>Curso</th>

                <th>Período</th>

                <th>Horas</th>
                
                <th>Ativo</th>

                <th>Departamento</th>

            </tr>
       
       
        </table>
    </div>

    <br>
    <form class="consultar">

        <input type="text" id="searchInput" placeholder="Digite sua consulta">

    </form>

    <div class="button-container">
    
        <button type="button" class="botao-inserirbusca" onclick="consultarVoluntarioPorNome()">Consultar</button>
    
        <button type="button" class="botao-inserirbusca" onclick="desativarVoluntarioPorId()">Desativar</button>
    
        <button type="button" class="botao-inserirbusca" onclick="deletarVoluntarioPorNome()">Deletar</button>
        
    </div>


    <div id="voluntarioDetails"></div>

    
    
    <script src="../js/voluntario.js"></script>
    
</body>
</html>