<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>

    <link rel="stylesheet" href="../css/login.css">

    <link rel="shortcut icon" href="../img/ellp_logo.png" type="image/x-icon">

</head>

<body>

    <div class="container">

        <img src="../img/ellp_logo.png" class="logo" id="logo">

        <form class="form-entrar" id="loginForm">
          
            <h2>Entrar</h2>
          
            <label for="nome"><b>Usuario: </b></label><br>
          
            <input type="text" name="nome" id="nome" class="usuario nome">
          
            <label for="senha"><b>Senha: </b></label><br>
          
            <input type="password" name="senha" id="senha" class="usuario senha">
          
            <button class="botao-entrar login" type="submit" >Entrar</button>
        
        </form>
        
        <p id="loginMessage"></p>

    </div>

    <div class="registrar-login">

        <a href="/views/registrar_login.html">Registrar</a>

    </div>


    <script src="/js/login.js"></script>

</body>

</html>