<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Principal</title>

    <link rel="stylesheet" href="../css/style.css">

    <link rel="shortcut icon" href="../img/ellp_logo.png" type="image/x-icon">

</head>

<body>
    
    <header>
 
        <a href="../views/login.html">Sair</a>
        
    </header>


    <div class="sidebar">
        
        <h2>ELLP</h2>
        
        <ul>
        
            <li class="opcoes-voluntarios">

                    <img src="../img/voluntarios.png" alt="" class="voluntarios">
                
                    <a href="#" onclick="abrirPainelVoluntario()">Voluntários</a>
           
            </li>

            <div id="painelVoluntario" style="display: none;">
                
                <li>
                    <a href="./registrar-voluntario.html">Registrar</a>
                    
                </li>
                
              
                <li>
                    
                    <a href="../views/consultar-voluntario.html">Consultar</a>

                </li>
             
                <li>

                    <a href="../views/atualizar-voluntario.html">Atualizar</a>

                </li>

                <li>

                    <a href="../views/registrar-horas-voluntariadas.html">Registrar Horas</a>

                </li>
             
           
            </div>
        
            <li class="opcoes-oficinas">

                <img src="../img/oficinas.png" alt="" class="voluntarios">
               
                <a href="#" onclick="abrirPainelOficina()">Oficinas</a>
            
            </li>

            <div id="painelOficina" style="display: none;">
                
               
                <li>

                    <a href="../views/registrar-oficina.html">Registrar</a>

                </li>

                <li>

                    <a href="../views/consultar-oficina.html">Consultar</a>

                </li>

                <li>

                    <a href="../views/atualizar-oficina.html">Atualizar</a>

                </li>
           
            </div>

            <li class="opcoes-departamento">

                <img src="../img/oficinas.png" alt="" class="voluntarios">
               
                <a href="#" onclick="abrirPainelDepartamento()">Departamento</a>
            
            </li>


            <div id="PainelDepartamento" style="display: none;">
                
               
                <li>

                    <a href="../views/registrar-departamento.html">Registrar</a>

                </li>

                <li>

                    <a href="../views/consultar-departamento.html">Consultar</a>

                </li>
             
                <li>

                    <a href="../views/atualizar-departamento.html">Atualizar</a>

                </li>
           
            </div>
          


            <li class="opcoes-termo">

                    <img src="../img/termo.png" alt="" class="voluntarios">
                
                    <a href="../views/relatorio-voluntario.html">Relatórios</a>

            </li>
        
            <li class="opcoes-termo">

                <img src="../img/termo.png" alt="" class="voluntarios">
            
                <a href="../views/termo-voluntario.html">Termo</a>

            </li>


        </ul>
      
    </div>


    <div class="content">
        
        <h2>Gestão - Ensino Lúdico de Lógica de Programação</h2>
        
        <p>Este é o conteúdo principal da página.</p>

        <div id="oficinaDetails"></div>

    </div>




    <script src="../js/principal.js"></script>
</body>
</html>