<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar</title>

    <link rel="shortcut icon" href="../img/ellp_logo.png" type="image/x-icon">

    <link rel="stylesheet" href="../css/registrar.css">
</head>

<body>
    <div class="container">

        <img src="../img/ellp_logo.png" class="logo" id="logo">

        <form id="form-registrar-login">

            <h2>Cadastrar Usuário</h2>

            <label for="nome" ><b>Nome: </b></label>

            <input type="text" name="nome" id="nome" class="usuario nome"><br>

            <label for="senha"><b>Senha:</b></label>

            <input type="text" name="senha" id="senha" class="usuario senha"><br>

            <button class="botao-entrar" type="submit">Registrar</button>

        </form>


    </div>

    <script src="../js/login-registrar.js"></script>

</body>

</html>