<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Relatorio Voluntario</title>

</head>

<body>

    
    <div class="table-container">
        
        <table>
            
            <tr>
                <th>ID</th>

                <th>Nome</th>

                <th>RA</th>

                <th>Horas Voluntariadas</th>
           
            </tr>
       
       
        </table>
   
    </div>


    <script src="../js/relatorio.js"></script>
    
</body>

</html>