<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Relatorio Voluntario</title>

    <link rel="stylesheet" href="../css/consultar.css">

    <link rel="shortcut icon" href="../img/ellp_logo.png" type="image/x-icon">

</head>

<body>

    
    <img src="../img/ellp_logo.png" class="logo" id="logo">

 
    <br>
    <form class="consultar">

        <button type="button" class="botao-inserirbusca" onclick="consultarVoluntarioPorNome()">Consultar</button>

        <input type="text" id="searchInput" placeholder="Digite sua consulta">

    </form>

    <div id="voluntarioDetails"></div>

    <button class="imprimir" onclick="imprimirCertificado()">Imprimir Relatorio</button>


    <script src="../js/voluntario.js"></script>
    
</body>

</html>