<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termo Voluntario</title>
    <link rel="stylesheet" href="../css/termo.css">
    <link rel="shortcut icon" href="../img/ellp_logo.png" type="image/x-icon">
</head>
<body>

    <header>

        <h1>Termo de Voluntariado</h1>
    </header>

    <section>
       

        <h2>1. Objetivo</h2>
       
        <p>O presente termo tem como objetivo formalizar a participação do voluntário no programa de voluntariado da nossa organização.</p>

        <h2>2. Responsabilidades do Voluntário</h2>
       
        <ul>
       
            <li>Colaborar de forma ativa e positiva com a equipe.</li>
       
            <li>Dedicar o tempo acordado para as atividades de voluntariado.</li>
       
            <li>Respeitar as políticas e normas da organização.</li>
       
        </ul>

        <h2>3. Compromisso</h2>
       
        <p>O voluntário compromete-se a desempenhar suas atividades de maneira ética e responsável, visando contribuir para o bem-estar da comunidade e o sucesso das ações desenvolvidas pela organização.</p>
   
    </section>


    <img src="../img/ellp_logo.png" class="logo" id="logo">

    <script src="/js/termo.js"></script>
</body>
</html>